@import "tailwindcss";

@font-face {
    font-family: "Greenth";
    src: url("/fonts/Greenth_Personal_Use.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PaytoneOne";
    src: url("/fonts/PaytoneOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.font-greenth {
    font-family: "Greenth";
    font-weight: 400 !important;
}

.font-paytone-one {
    font-family: "PaytoneOne";
}