@import "tailwindcss";

@font-face {
    font-family: "Greenth";
    src: url("/fonts/Greenth_Personal_Use.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.font-greenth {
    font-family: "Greenth";
}